<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <title>Product Manager</title>
    <style>
        table#products input[type="text"],
        table#products textarea {
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Products</h1>
    <table id="products" class="pure-table pure-table-bordered pure-table-striped">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 70%;">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Loading...</td>
                <td>Loading...</td>
                <td>Loading...</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="pure-form">
                    <input type="text" name="name" required placeholder="Name" maxlength="255" id="id_name"
                        form="add-product-form">
                </td>
                <td class="pure-form">
                    <textarea name="description" cols="40" rows="2" placeholder="Description" form="add-product-form"
                        id="id_description"></textarea>
                </td>
                <td class="pure-form">
                    <input type="number" required name="price" min="-5" step="0.01" id="id_price"
                        form="add-product-form">
                </td>
                <td class="pure-form">
                    <input type="submit" value="+" form="add-product-form" class="pure-button pure-button-primary">
                </td>
            </tr>
        </tfoot>
    </table>
    <form action="{% url 'api:products' %}" method="post" id="add-product-form" name="add-product-form">
        <ul id="add-product-form-errors" style="color:red"></ul>
    </form>
    <script>
        const productsURL = "{% url 'api:products' %}";

        const fetchProducts = () => {
            fetch(productsURL)
                .then(response => response.json())
                .then(data => {
                    const productsTableContent = document.querySelector("#products tbody");
                    productsTableContent.innerHTML = ""
                    data.forEach(product => {
                        productsTableContent.innerHTML += `
                    <tr>
                        <td>${product.name}</td>
                        <td class="pure-form">
                            <textarea readonly cols="40" rows="2" style="resize:none">${product.description}</textarea>
                        </td>
                        <td>${product.price}</td>
                        <td></td>
                    </tr>
                `
                    })
                }).catch((error) => {
                    console.error(error);
                })
        }

        document.querySelector("#add-product-form").addEventListener("submit", (e) => {
            e.preventDefault();

            const formData = new FormData(e.target);
            const data = Array.from(formData.entries()).reduce((memo, [key, value]) => ({
                ...memo,
                [key]: value,
            }), {});
            fetch(productsURL, {
                method: "POST",
                body: JSON.stringify(data),
            }).then(response => response.json())
                .then(data => {
                    const formErrors = e.target.querySelector("#add-product-form-errors");
                    formErrors.innerHTML = ``;
                    if (data.hasOwnProperty("errors")) {
                        for (let field in data["errors"]) {
                            formErrors.innerHTML += `
                            <li>
                                ${field}: ${data["errors"][field]}
                            </li>
                            `;
                            window.scrollTo(0, document.body.scrollHeight);
                        }

                        return;
                    }
                    fetchProducts();
                })
        });


        fetchProducts()
        setInterval(fetchProducts, 10 * 1000);
    </script>
</body>


</html>